.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding:5px;
    border-bottom: 2px solid black;
}
.header #title {
    font-size: 2.2em;
}
h1 {
       color: #6BA8B6;
   }
   
   #title {
    font-size: 30px;
    font-family: serif;
   }
   .nav a {
       font-size: 1.2em;
       color: #6BA8B6;
       text-decoration: none;
       padding: 0 20px;           
    }
    .nav a:hover {
        background-color: lightgray;
    }
    
   